* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: $neutral_light_grayish_blue;
}
